<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/home_page_style.css' %}">
    <title>Fitness Inspo</title>
</head>

<body>
    <div class="container">
        <div>
            <h4>Want a free account?</h4>
            <a href="/login_page">Sign up!</a>
            <a href="/login_page">Login</a>
        </div>
        <div class="right-side">
            <h2>Are you ready to join a challenge?</h2>
            <input type="radio" value="Yes">Yes, bring it on
            <input type="radio" value="No">No, I want my mommy
        </div>
        <div class="left-side">
            <h3>Who am I?</h3>
        </div>
        <div class="left-side2">
            <h3>Program intro</h3>
        </div>
        <div class="left-side3">
            <h3>Sample workout</h3>
        </div>


</body>

</html>