<!-- <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sample Workout!</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="static/js/sampleworkout.js"></script>
    <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
    <script src="static/js/app.js"></script>
    <script src="https://apis.google.com/js/client.js?onload=init"></script>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"> -->
<!-- <link rel="stylesheet" href="css/style.css"> -->
<!-- </head>

<body>
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <form>
                <p><input type="text" id="search" placeholder="Type something..." autocomplete="off"
                        class="form-control">
                </p>
                <p><input type="submit" value="Search" class="form-control btn btn-primary w100"></p>
            </form>

            <script src="https://yvoschaap.com/ytpage/ytembed.js"></script>

            <div id="ytThumbs"><ins>Made with the <a
                        href="https://yvoschaap.com/youtube.html?utm_source=generator">Youtube Embed
                        Generator</a>.</ins>
            </div>
            <script>
                ytEmbed.init({ 'block': 'ytThumbs', 'key': 'AIzaSyCVuN7GOKmyHIT0xtpd2WTM4n9pEI-zwXQ', 'q': 'prank', 'type': 'search', 'results': 1, 'meta': true, 'player': 'embed', 'layout': 'full' });
            </script>

            <div id="results">
                <h3>hello</h3>
            </div>

        </div>
    </div> -->

<!-- <button id="samplemm">MM100</button> -->
<!-- <p id="samplemm">Morning Meltdown 100!</p> -->
<!-- <div id="video"></div> -->

<!-- scripts -->



<!-- </body>

</html> -->






<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Fitness acount homepage</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/modern-business.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/modern-business.css" rel="stylesheet">

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
            <a class="navbar-brand" href="/">Start Your Fitness Journey</a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <!-- <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="about.html">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="services.html">Services</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="contact.html">Contact</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownPortfolio" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            Portfolio
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownPortfolio">
                            <a class="dropdown-item" href="portfolio-1-col.html">1 Column Portfolio</a>
                            <a class="dropdown-item" href="portfolio-2-col.html">2 Column Portfolio</a>
                            <a class="dropdown-item" href="portfolio-3-col.html">3 Column Portfolio</a>
                            <a class="dropdown-item" href="portfolio-4-col.html">4 Column Portfolio</a>
                            <a class="dropdown-item" href="portfolio-item.html">Single Portfolio Item</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownBlog" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            Blog
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownBlog">
                            <a class="dropdown-item" href="blog-home-1.html">Blog Home 1</a>
                            <a class="dropdown-item" href="blog-home-2.html">Blog Home 2</a>
                            <a class="dropdown-item" href="blog-post.html">Blog Post</a>
                        </div>
                    </li>
                    <li class="nav-item active dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownBlog" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            Other Pages
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownBlog">
                            <a class="dropdown-item active" href="full-width.html">Full Width Page</a>
                            <a class="dropdown-item" href="sidebar.html">Sidebar Page</a>
                            <a class="dropdown-item" href="faq.html">FAQ</a>
                            <a class="dropdown-item" href="404.html">404</a>
                            <a class="dropdown-item" href="pricing.html">Pricing Table</a>
                        </div>
                    </li>
                </ul> -->
            </div>
        </div>
    </nav>

    <!-- Page Content -->
    <div class="container">

        <!-- Page Heading/Breadcrumbs -->
        <h1 class="mt-4 mb-3">
            <!-- Full Width -->
            <small>
                <!-- Subheading -->
            </small>
        </h1>

        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="/">Home</a>
            </li>
            <!-- <li class="breadcrumb-item active">Full Width</li> -->
        </ol>







        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <form>
                    <p><input type="text" id="search" placeholder="Type something..." autocomplete="off"
                            class="form-control">
                    </p>
                    <p><input type="submit" value="Search" class="form-control btn btn-primary w100"></p>
                </form>

                <script src="https://yvoschaap.com/ytpage/ytembed.js"></script>

                <div id="ytThumbs"><ins>Made with the <a
                            href="https://yvoschaap.com/youtube.html?utm_source=generator">Youtube Embed
                            Generator</a>.</ins>
                </div>
                <script>
                    ytEmbed.init({ 'block': 'ytThumbs', 'key': 'AIzaSyCVuN7GOKmyHIT0xtpd2WTM4n9pEI-zwXQ', 'q': 'prank', 'type': 'search', 'results': 1, 'meta': true, 'player': 'embed', 'layout': 'full' });
                </script>

                <!-- <div id="results">
                    <h3>hello</h3>
                </div> -->

            </div>
        </div>

        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <p><input id="samplemm" type="submit" value="Today's Recommendation"
                        class="form-control btn btn-primary w100"></p>
            </div>
        </div>

        <!-- <button id="samplemm">MM100</button> -->
        <!-- <p id="samplemm">Morning Meltdown 100!</p> -->
        <div id="video"></div>

        <!-- scripts -->





    </div>
    <!-- /.container -->

    <!-- Footer -->
    <!-- <footer class="py-5 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; Your Website 2019</p>
        </div>
        <!-- /.container -->
    <!-- </footer> -->

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>